<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.knights.model.mapper.MstProductMapper">
	<select id="findByCategoryIdAndProductName" resultType="jp.co.internous.knights.model.domain.MstProduct">
		SELECT * FROM mst_product
		WHERE category_id = #{categoryId} AND
		<foreach item="productName" collection="productName" open="(" close=")" separator="OR">
			(product_name LIKE '%${productName}%') 
		</foreach>
		ORDER BY id;
	</select>
		
	<select id="findByProductName" resultType="jp.co.internous.knights.model.domain.MstProduct">
		SELECT * FROM mst_product WHERE 
		<foreach item="productName" collection="productName" open="" close="" separator="OR">
			(product_name LIKE '%${productName}%')
		</foreach>
		ORDER BY id;
	</select>
</mapper>